<app-header titulo="Tabs"></app-header>

<ion-tabs>

  <ion-tab-bar slot="bottom,top">
    <ion-tab-button tab="account">
      <ion-icon name="flash"></ion-icon>
      <ion-label> <h3>Acount</h3> </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <ion-icon name="invert-mode"></ion-icon>
      <ion-label> <h3>Contact</h3> </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="medical"></ion-icon>
      <ion-label> <h3>Settings</h3> </ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>