<app-header titulo="Action Sheet"></app-header>

<ion-content class="ion-padding" fullscreen class="animate__animated animate__fadeInDown">
    <ion-card mode="ios">

        <ion-card-header>
            <ion-card-subtitle>Component</ion-card-subtitle>
            <ion-card-title>ION-ACTION-SHEET
            </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <p>
            An Action Sheet is a dialog that displays a set of options.
            It appears on top of the app's content, and must be manually
            dismissed by the user before they can resume interaction with
            the app.
            </p>
            <br>
            <ion-button (click)="onClick()" expand="block" color="dark">
            Show Action Sheet
            </ion-button>
        </ion-card-content>

    </ion-card>
</ion-content>